---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
   font-weight: 450;
   font-weight: 400;
}

body, body div, h1, h2, h3, h4, h5, h6 {
   font-family: "Space Grotesk", Satoshi, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
   letter-spacing: 0.8px !important;
}

h1, h2, h3, h4, h5, h6 {
   color: #f79000 !important;
   font-weight: 600 !important;
}

a {
  color: #f79000 !important;
   font-weight: 500 !important;
}

header {
  border-bottom: 1px dashed #f79000 !important;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #005cff;
}

.highlight .nt, .highlight .nn, .highlight .nc, .highlight .no {
    color: #ff0000;
}
