---
---

@import "{{ site.theme }}";

body, body div, h1, h2, h3, h4, h5, h6 {
   font-family: Satoshi, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
   letter-spacing: 0.8px !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #f79000 !important;
   font-weight: 600 !important;
}

a {
  color: #f79000 !important;
}
