---
---

@import "{{ site.theme }}";
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');*/

body {
   font-weight: 400;
   font-weight: 450;
   background: rgb(0,0,0) !important;
   /*background: linear-gradient(90deg,rgba(11,14,20,0.9),rgba(11,14,20,0.9)),url('https://firebasestorage.googleapis.com/v0/b/opewrlr.appspot.com/o/3303721%20(1).jpg?alt=media&token=f0d64f14-4297-4ea0-9723-6a8d8ba8a2c4') 50% 50% !important;*/
}

.highlight {
   /*background: rgb(33,18,43) !important;
   border-color: rgb(0,0,0) !important;*/
   font-family: "IBM Plex Mono", Satoshi, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}

.highlight code, .highlight code span {
   font-family: "IBM Plex Mono", Satoshi, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;  
   letter-spacing: 1.0px !important;
}
   

body, body div, h1, h2, h3, h4, h5, h6 {
   font-family: "IBM Plex Mono", Satoshi, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
   letter-spacing: 1.0px !important;
}

h1, h2, h3, h4, h5, h6 {
   color: #f79000 !important;
   font-weight: 600 !important;
}

a {
  color: #f79000 !important;
   font-weight: 500 !important;
}

header {
  border-bottom: 1px dashed #f79000 !important;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #005cff;
    color: #0e9aa0;
}

.highlight .nt, .highlight .nn, .highlight .nc, .highlight .no {
    color: #ff0000;
}
